@keyframes App-logo-spin {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(10deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo.animation {
        animation: App-logo-spin infinite 3s alternate;
    }
}

.app-logo.animation {
    height: 100px;
}

.app-logo.animation {
    padding: 20px;
}