.button {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding: 2px 50px;
}

.button:hover {
    padding: 0 48px;
    border: 2px solid black;
    border-radius: 15px;
}