.app-header {
  background-color: #134074;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.flex-nav {
  padding: 0 20px;
  display: flex;
}